<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">


<!-- MyBatis 逆向 -->
<generatorConfiguration>

    <!--指定数据库驱动URL-->
    <classPathEntry
            location = "E:\jar\repositoy\mysql\mysql-connector-java\5.1.20\mysql-connector-java-5.1.20.jar" />

    <!--context 里的id用于唯一标识该Context，在生成错误信息时可能会使用到,
        targetRuntime表示当前使用的Mybatis版本,3.x的版本就是MyBatis3
    -->
    <context id = "MysqlTables" targetRuntime = "MyBatis3">

        <commentGenerator>
            <!--指定自动生成的文件是否包含注释-->
            <property name = "suppressAllComments" value = "true" />
        </commentGenerator>

        <!--连接数据库的信息-->
        <jdbcConnection driverClass = "com.mysql.jdbc.Driver"
                        connectionURL = "jdbc:mysql://127.0.0.1:3306/myblog"
                        userId = "root"
                        password = "admin">
        </jdbcConnection>

        <!--为true时，数据库里的 DECIMAL 或者 NUMERIC类型将被映射成Java里的
            java.math.BigDecimal类型，如果为false，将按照一定规则进行映射
        -->
        <javaTypeResolver>
            <property name = "forceBigDecimals" value = "false" />
        </javaTypeResolver>

        <!--指定生成的PO类放在哪个路径下-->
        <javaModelGenerator targetPackage = "com.hang.blog.mvc.entity"
                            targetProject = "E:\学习资料\个人项目\个人博客\code_workspace\MyBlog\src">
            <!--是否让schema作为包的后缀-->
            <property name = "enableSubPackages" value = "false" />
            <!--是否清理从数据库返回的值得前后空格，如果数据库里的值是字符串的话比较有用-->
            <property name = "trimStrings" value = "true" />
        </javaModelGenerator>

        <!--指定生成的映射文件放在哪个路径下-->
        <sqlMapGenerator targetPackage = "com.hang.blog.mvc.dao"
                        targetProject = "E:\学习资料\个人项目\个人博客\code_workspace\MyBlog\src">
            <!--是否让schema作为包的后缀-->
            <property name = "enableSubPackages" value = "false" />
        </sqlMapGenerator>

        <!--指定生成的Mapper接口放在哪个路径下-->
        <javaClientGenerator type = "XMLMAPPER" targetPackage = "com.hang.blog.mvc.dao"
                            targetProject = "E:\学习资料\个人项目\个人博客\code_workspace\MyBlog\src">
            <!--是否让schema作为包的后缀-->
            <property name = "enableSubPackages" value = "false" />
        </javaClientGenerator>
        <table tableName = "access_record" />
        <table tableName = "article_" />
        <table tableName = "category_" />
        <table tableName = "comment_" />
        <table tableName = "frend_link" />
        <table tableName = "label_" />
        <table tableName = "message_" />
        <table tableName = "user_" />
    </context>
</generatorConfiguration>