body{
	font-family: 'microsoft yahei';
	/*background: #FFFFFF url("/images/back.jpg") no-repeat fixed top;*/
	/*background-size:100% 100%;*/
	background: #FFFFFF;
}

/*blog - index */
/*Banner*/
.blog-banner-box {
	margin-top: 20px;
	text-align: left;
	
}
.blog-banner{
	
}
.blog-banner p {
   font-size:15px;
}

.blog-banner-form {
	padding: 0px 20px;
}

/*内容区域*/
.blog-content {
	overflow: hidden;
	margin-top: 80px;
}
/*菜单*/
.blog-navbar {
	
}

/*路径*/
.blog-breadcrumb {
	
}
.blog-article-height{
	min-height: 800px;
}
.blog-article{
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	border: 1px solid #dbdbdb;
	margin-bottom: 20px; 
	font: 400 16px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
	border-radius:15px;
}
.blog-article-head{
	
}

.blog-article-head-title{
	width: 100%;
	height: auto;
}
.blog-article-head-meta{
	margin-top: 40px;
	width: 100%;
	height: auto;
}
.blog-article-head-meta table{
	margin: 0 auto;
}
.blog-article-head-meta td{
	padding: 5px;
}

.blog-article-content{
	padding-bottom: 20px;
}
.blog-article-content-img{
	width: 100%;
	height: auto;
	margin-top: 30px;
}
.blog-article-content-img img{
	 width: 100%;
	vertical-align: middle;
}

.blog-article-content-content{
	    margin: 30px 0;
	    
}
.blog-article-content-content p{
    color: #444443;
    font-size:18px;/*字体大小*/  
    text-indent:2em;/*首行缩进两个单位*/  
    line-height:1.5em;/*行距为1.5个单位*/  
    padding:10px;/*用内边距代替外边距来设置段间距*/  
    margin:0;/*去掉默认的段间距*/  

}
.blog-article-content-show {
	padding-bottom: 15px;
}

.blog-content-page{
	text-align:center;
	padding-bottom: 40px;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	
}
.blog-content-page span:HOVER{
	cursor: default;
}
.blog-content-page span{
	border: 1px solid transparent;
	text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    float: left;
}

.blog-right-panel-group{
	overflow: hidden;
}

.blog-right-panel-article{
		 
}

.blog-right-panel-label{
	min-height: 200px;	
}


.blog-right-panel-label-body{
	padding: 10px;
	text-align: center;
	height: auto;
}

.blog-right-panel-label-body a{
	margin-top: 5px;
}

.blog-right-panel-time ul{
	text-align: center;	
}
.blog-right-panel-time span{
	margin-left: 15px;	
}

.blog-right-panel-statistics ul{
	text-align: center;		
}
.blog-right-panel-frendlink ul{
	text-align: center;	
}

.blog-footer{
	width:100%;
	height:auto;
	background-color:black;
	text-align: left;
	padding-top: 20px;
	padding-bottom:20px;

}

.blog-footer p,a{
	font-size:0.8em;
	color: white;
}
.blog-footer a:hover{
	font-size:0.8em;
	color: white;
}





/*article.html*/
.blog-article-article{
	border-top:1px  solid #dbdbdb;
}
.blog-article-article-head{
	padding-top: 20px;
	/*text-align: center;*/
}
.blog-article-article-head h1{
	color: #00a0e9;
}


.blog-article-article-head-meta{
	margin-top:20px;
	width: 100%;
	background-color: #f2f2f2;
	text-align: center;
	border-radius:10px;
}

.blog-article-article-head-meta table{
	margin: 0 auto;
}
.blog-article-article-head-meta td{
	padding: 10px 15px;
}


.blog-article-article-content{
	justify-content:center;
	width: 100%;
	padding: 3%;
	margin-top: 20px;
	min-height: 800px;
	background-color: #FFFFFF;
	border-radius: 15px;
}


.blog-article-article-content * {
	max-width: 100%;
}

.blog-article-article-content p{
	line-height:1.5em;
    font: 18px "宋体", Arial, Helvetica, sans-serif;
}

.blog-article-article-content img{
	margin:15px 0px;

}
.blog-article-page{
	margin-top: 40px;
	padding-bottom: 40px;
}

.blog-article-comment{
	width: 100%;
	padding: 3%;
	margin-top:20px;
	background-color: #FFFFFF;
	border-radius: 15px;
}

/**--------------------Message  留言板---------------------**/
textarea {
	resize:none
}

.blog-message{
	overflow: hidden;
	min-height: 800px;
}

.blog-message-head{
	width:100%;
	height:auto;
	text-align:center;
	margin-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
}

.blog-message-body{
	padding: 0px 20px;
}

.blog-message-input{
	width: 100%;
}

.blog-message-content{
	width: 100%;
}

.blog-message-content-head{
	text-align: left;
	padding-left: 10px;
}

.blog-message-content-body{
	min-height: 50px;
	justify-content:center;
	width: 100%;
	padding: 3%;
}

.blog-message-content-body p{
	line-height:1.5em;
	font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
}
.blog-message-content-body img{
	margin:15px 0px;
	width: 100%;
}
.blog-message-content-bottom{
	margin: 40px 0px;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #BDBDBD;
	line-height: 40px;
}
