<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.blog.mvc.dao.AccessRecordMapper">
  <resultMap id="BaseResultMap" type="com.hang.blog.mvc.entity.AccessRecord">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="STARTTIME_" jdbcType="TIMESTAMP" property="starttime" />
    <result column="ENDTIME_" jdbcType="TIMESTAMP" property="endtime" />
    <result column="MILLISECOND_" jdbcType="INTEGER" property="millisecond" />
    <result column="COOKIE_" jdbcType="VARCHAR" property="cookie" />
    <result column="USERAGENT_" jdbcType="VARCHAR" property="useragent" />
    <result column="IPS_" jdbcType="VARCHAR" property="ips" />
    <result column="METHOD_" jdbcType="VARCHAR" property="method" />
    <result column="REFERER_" jdbcType="VARCHAR" property="referer" />
    <result column="ACCEPT_" jdbcType="VARCHAR" property="accept" />
    <result column="ACCEPTENCODING_" jdbcType="VARCHAR" property="acceptencoding" />
    <result column="ACCEPTLANGUAGE_" jdbcType="VARCHAR" property="acceptlanguage" />
    <result column="CONNECTION_" jdbcType="VARCHAR" property="connection" />
    <result column="HOST_" jdbcType="VARCHAR" property="host" />
    <result column="XREQUESTEDWITH_" jdbcType="VARCHAR" property="xrequestedwith" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hang.blog.mvc.entity.AccessRecord">
    <result column="REQUESTPATH_" jdbcType="LONGVARCHAR" property="requestpath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, STARTTIME_, ENDTIME_, MILLISECOND_, COOKIE_, USERAGENT_, IPS_, METHOD_, REFERER_, 
    ACCEPT_, ACCEPTENCODING_, ACCEPTLANGUAGE_, CONNECTION_, HOST_, XREQUESTEDWITH_, USERID
  </sql>
  <sql id="Blob_Column_List">
    REQUESTPATH_
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hang.blog.mvc.entity.AccessRecordExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from access_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hang.blog.mvc.entity.AccessRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from access_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from access_record
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from access_record
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hang.blog.mvc.entity.AccessRecordExample">
    delete from access_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hang.blog.mvc.entity.AccessRecord">
    insert into access_record (ID, STARTTIME_, ENDTIME_, 
      MILLISECOND_, COOKIE_, USERAGENT_, 
      IPS_, METHOD_, REFERER_, 
      ACCEPT_, ACCEPTENCODING_, ACCEPTLANGUAGE_, 
      CONNECTION_, HOST_, XREQUESTEDWITH_, 
      USERID, REQUESTPATH_)
    values (#{id,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{millisecond,jdbcType=INTEGER}, #{cookie,jdbcType=VARCHAR}, #{useragent,jdbcType=VARCHAR}, 
      #{ips,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{referer,jdbcType=VARCHAR}, 
      #{accept,jdbcType=VARCHAR}, #{acceptencoding,jdbcType=VARCHAR}, #{acceptlanguage,jdbcType=VARCHAR}, 
      #{connection,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR}, #{xrequestedwith,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{requestpath,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hang.blog.mvc.entity.AccessRecord">
    insert into access_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="starttime != null">
        STARTTIME_,
      </if>
      <if test="endtime != null">
        ENDTIME_,
      </if>
      <if test="millisecond != null">
        MILLISECOND_,
      </if>
      <if test="cookie != null">
        COOKIE_,
      </if>
      <if test="useragent != null">
        USERAGENT_,
      </if>
      <if test="ips != null">
        IPS_,
      </if>
      <if test="method != null">
        METHOD_,
      </if>
      <if test="referer != null">
        REFERER_,
      </if>
      <if test="accept != null">
        ACCEPT_,
      </if>
      <if test="acceptencoding != null">
        ACCEPTENCODING_,
      </if>
      <if test="acceptlanguage != null">
        ACCEPTLANGUAGE_,
      </if>
      <if test="connection != null">
        CONNECTION_,
      </if>
      <if test="host != null">
        HOST_,
      </if>
      <if test="xrequestedwith != null">
        XREQUESTEDWITH_,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="requestpath != null">
        REQUESTPATH_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="millisecond != null">
        #{millisecond,jdbcType=INTEGER},
      </if>
      <if test="cookie != null">
        #{cookie,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null">
        #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="ips != null">
        #{ips,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="referer != null">
        #{referer,jdbcType=VARCHAR},
      </if>
      <if test="accept != null">
        #{accept,jdbcType=VARCHAR},
      </if>
      <if test="acceptencoding != null">
        #{acceptencoding,jdbcType=VARCHAR},
      </if>
      <if test="acceptlanguage != null">
        #{acceptlanguage,jdbcType=VARCHAR},
      </if>
      <if test="connection != null">
        #{connection,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="xrequestedwith != null">
        #{xrequestedwith,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="requestpath != null">
        #{requestpath,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hang.blog.mvc.entity.AccessRecordExample" resultType="java.lang.Long">
    select count(*) from access_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update access_record
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null">
        STARTTIME_ = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null">
        ENDTIME_ = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.millisecond != null">
        MILLISECOND_ = #{record.millisecond,jdbcType=INTEGER},
      </if>
      <if test="record.cookie != null">
        COOKIE_ = #{record.cookie,jdbcType=VARCHAR},
      </if>
      <if test="record.useragent != null">
        USERAGENT_ = #{record.useragent,jdbcType=VARCHAR},
      </if>
      <if test="record.ips != null">
        IPS_ = #{record.ips,jdbcType=VARCHAR},
      </if>
      <if test="record.method != null">
        METHOD_ = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.referer != null">
        REFERER_ = #{record.referer,jdbcType=VARCHAR},
      </if>
      <if test="record.accept != null">
        ACCEPT_ = #{record.accept,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptencoding != null">
        ACCEPTENCODING_ = #{record.acceptencoding,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptlanguage != null">
        ACCEPTLANGUAGE_ = #{record.acceptlanguage,jdbcType=VARCHAR},
      </if>
      <if test="record.connection != null">
        CONNECTION_ = #{record.connection,jdbcType=VARCHAR},
      </if>
      <if test="record.host != null">
        HOST_ = #{record.host,jdbcType=VARCHAR},
      </if>
      <if test="record.xrequestedwith != null">
        XREQUESTEDWITH_ = #{record.xrequestedwith,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.requestpath != null">
        REQUESTPATH_ = #{record.requestpath,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update access_record
    set ID = #{record.id,jdbcType=VARCHAR},
      STARTTIME_ = #{record.starttime,jdbcType=TIMESTAMP},
      ENDTIME_ = #{record.endtime,jdbcType=TIMESTAMP},
      MILLISECOND_ = #{record.millisecond,jdbcType=INTEGER},
      COOKIE_ = #{record.cookie,jdbcType=VARCHAR},
      USERAGENT_ = #{record.useragent,jdbcType=VARCHAR},
      IPS_ = #{record.ips,jdbcType=VARCHAR},
      METHOD_ = #{record.method,jdbcType=VARCHAR},
      REFERER_ = #{record.referer,jdbcType=VARCHAR},
      ACCEPT_ = #{record.accept,jdbcType=VARCHAR},
      ACCEPTENCODING_ = #{record.acceptencoding,jdbcType=VARCHAR},
      ACCEPTLANGUAGE_ = #{record.acceptlanguage,jdbcType=VARCHAR},
      CONNECTION_ = #{record.connection,jdbcType=VARCHAR},
      HOST_ = #{record.host,jdbcType=VARCHAR},
      XREQUESTEDWITH_ = #{record.xrequestedwith,jdbcType=VARCHAR},
      USERID = #{record.userid,jdbcType=VARCHAR},
      REQUESTPATH_ = #{record.requestpath,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update access_record
    set ID = #{record.id,jdbcType=VARCHAR},
      STARTTIME_ = #{record.starttime,jdbcType=TIMESTAMP},
      ENDTIME_ = #{record.endtime,jdbcType=TIMESTAMP},
      MILLISECOND_ = #{record.millisecond,jdbcType=INTEGER},
      COOKIE_ = #{record.cookie,jdbcType=VARCHAR},
      USERAGENT_ = #{record.useragent,jdbcType=VARCHAR},
      IPS_ = #{record.ips,jdbcType=VARCHAR},
      METHOD_ = #{record.method,jdbcType=VARCHAR},
      REFERER_ = #{record.referer,jdbcType=VARCHAR},
      ACCEPT_ = #{record.accept,jdbcType=VARCHAR},
      ACCEPTENCODING_ = #{record.acceptencoding,jdbcType=VARCHAR},
      ACCEPTLANGUAGE_ = #{record.acceptlanguage,jdbcType=VARCHAR},
      CONNECTION_ = #{record.connection,jdbcType=VARCHAR},
      HOST_ = #{record.host,jdbcType=VARCHAR},
      XREQUESTEDWITH_ = #{record.xrequestedwith,jdbcType=VARCHAR},
      USERID = #{record.userid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hang.blog.mvc.entity.AccessRecord">
    update access_record
    <set>
      <if test="starttime != null">
        STARTTIME_ = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        ENDTIME_ = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="millisecond != null">
        MILLISECOND_ = #{millisecond,jdbcType=INTEGER},
      </if>
      <if test="cookie != null">
        COOKIE_ = #{cookie,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null">
        USERAGENT_ = #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="ips != null">
        IPS_ = #{ips,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        METHOD_ = #{method,jdbcType=VARCHAR},
      </if>
      <if test="referer != null">
        REFERER_ = #{referer,jdbcType=VARCHAR},
      </if>
      <if test="accept != null">
        ACCEPT_ = #{accept,jdbcType=VARCHAR},
      </if>
      <if test="acceptencoding != null">
        ACCEPTENCODING_ = #{acceptencoding,jdbcType=VARCHAR},
      </if>
      <if test="acceptlanguage != null">
        ACCEPTLANGUAGE_ = #{acceptlanguage,jdbcType=VARCHAR},
      </if>
      <if test="connection != null">
        CONNECTION_ = #{connection,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        HOST_ = #{host,jdbcType=VARCHAR},
      </if>
      <if test="xrequestedwith != null">
        XREQUESTEDWITH_ = #{xrequestedwith,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="requestpath != null">
        REQUESTPATH_ = #{requestpath,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hang.blog.mvc.entity.AccessRecord">
    update access_record
    set STARTTIME_ = #{starttime,jdbcType=TIMESTAMP},
      ENDTIME_ = #{endtime,jdbcType=TIMESTAMP},
      MILLISECOND_ = #{millisecond,jdbcType=INTEGER},
      COOKIE_ = #{cookie,jdbcType=VARCHAR},
      USERAGENT_ = #{useragent,jdbcType=VARCHAR},
      IPS_ = #{ips,jdbcType=VARCHAR},
      METHOD_ = #{method,jdbcType=VARCHAR},
      REFERER_ = #{referer,jdbcType=VARCHAR},
      ACCEPT_ = #{accept,jdbcType=VARCHAR},
      ACCEPTENCODING_ = #{acceptencoding,jdbcType=VARCHAR},
      ACCEPTLANGUAGE_ = #{acceptlanguage,jdbcType=VARCHAR},
      CONNECTION_ = #{connection,jdbcType=VARCHAR},
      HOST_ = #{host,jdbcType=VARCHAR},
      XREQUESTEDWITH_ = #{xrequestedwith,jdbcType=VARCHAR},
      USERID = #{userid,jdbcType=VARCHAR},
      REQUESTPATH_ = #{requestpath,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hang.blog.mvc.entity.AccessRecord">
    update access_record
    set STARTTIME_ = #{starttime,jdbcType=TIMESTAMP},
      ENDTIME_ = #{endtime,jdbcType=TIMESTAMP},
      MILLISECOND_ = #{millisecond,jdbcType=INTEGER},
      COOKIE_ = #{cookie,jdbcType=VARCHAR},
      USERAGENT_ = #{useragent,jdbcType=VARCHAR},
      IPS_ = #{ips,jdbcType=VARCHAR},
      METHOD_ = #{method,jdbcType=VARCHAR},
      REFERER_ = #{referer,jdbcType=VARCHAR},
      ACCEPT_ = #{accept,jdbcType=VARCHAR},
      ACCEPTENCODING_ = #{acceptencoding,jdbcType=VARCHAR},
      ACCEPTLANGUAGE_ = #{acceptlanguage,jdbcType=VARCHAR},
      CONNECTION_ = #{connection,jdbcType=VARCHAR},
      HOST_ = #{host,jdbcType=VARCHAR},
      XREQUESTEDWITH_ = #{xrequestedwith,jdbcType=VARCHAR},
      USERID = #{userid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>