<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.test.dao.StudentMapper" >

<!-- 
解决列名匹配的问题
<resultMap id="userResultMap" type="User">
  <id property="id" column="user_id" />
  <result property="username" column="user_name"/>
  <result property="password" column="hashed_password"/>
</resultMap>
 -->
<resultMap id="studentResultMap" type="com.blog.test.model.Student">
  <result property="stuId" column="stuID"/>
</resultMap>


  <insert id="add1" >
  	INSERT INTO sums_student (id,stuId,stuName,idCard,sex) values ('1111','23213','小米','110','男')
  </insert>
  
   <insert id="add2" parameterType="com.blog.test.model.Student">
  	INSERT INTO sums_student (id,stuId,stuName,idCard,sex) values (#{id},#{stuId},#{stuName},#{idCard},#{sex})
  </insert>
  
  <select id="list" resultMap="studentResultMap">
  	SELECT * FROM sums_student
  </select>
  
</mapper>